<body>
    <div class="v177_2792">
        <div class="v177_3491"></div><span class="v177_2793">Olá, ZOOM</span><span class="v177_2794">Deseja finalizar o
            processo seletivo?</span>
        <div class="v177_2800">
            <div class="v177_2801"></div>
            <div class="v177_2802"></div>
            <div class="v177_2803"></div>
        </div>
        <div routerLink="/processo-finalizado" class="v177_2809"></div><span class="v177_2810">Sim</span>
        <div routerLink="/acompanhamento-vaga" class="v177_2811"></div><span class="v177_2812">Nao</span>
        <div class="v191_137"></div>
    </div>
</body>