<body>
  <div class="container">
    <div class="container-box">
      <div class="status-box">
        <p class="status-number">{{this.listaCandidatos.length}}</p>
        <p class="status-name">Candidatos Cadastrados</p>
      </div>
      <div class="status-box">
        <p class="status-number">{{this.listaEmpresas.length}}</p>
        <p class="status-name">Empresas Cadastradas</p>
      </div>
      <div class="status-box">
        <p class="status-number">{{this.listaVagas.length}}</p>
        <p class="status-name">Vagas Disponibilizadas</p>
      </div>
    </div>
  </div>
</body>