<body>
    <div class="login-container">
        <h1 class="login-heading">Login</h1>
        <div class="input-container">
            <input type="text" placeholder="Email" class="login-input">
            <input type="password" placeholder="Senha" class="login-input">
        </div>
        <button class="login-button" routerLink="/paginaInicialEmpresa">Entrar</button>
        <p class="signup-link">Você ainda não tem uma conta? <a routerLink="/criarEmpresa">Cadastre-se</a></p>
        <p class="forgot-password-link"><a href="#">Esqueceu a senha?</a></p>
    </div>
</body>