<body>
    <div class="v177_1739"><span class="v177_1740">Vagas que foram cadastradas</span>
        <div routerLink="/acompanhamento-vaga" class="v177_1741"></div>
        <div routerLink="/acompanhamento-vaga" class="v177_1742"></div>
        <div routerLink="/acompanhamento-vaga" class="v177_1743"></div>
        <div class="v177_1744"></div>
        <div class="v177_1745"></div>
        <div class="v177_1746"></div>
        <div class="v177_1747"></div>
        <div class="v177_1748"></div>
        <div class="v177_1749"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="v177_1777">
            <div class="v177_1778"></div>
            <div class="v177_1779"></div>
            <div class="v177_1780"></div>
        </div>
        <div class="v191_114"></div>
    </div>
</body>