<section class="container criar-empresa ff-inter">

  <div class="fundo1">
    <div>
      <!-- <img class="recrutamentos" src="../../../../assets/images/v127_6.png" alt=""> -->
      <h1 style="font-family: 'Karla', sans-serif;">RECRUTAMENTOS</h1>
    </div>
    <div ><img class="ey-logo" src="../../../../assets/images/v126_3.png" alt=""></div>

    <h2 style="color: yellow; font-family: 'Courier New', Courier, monospace; margin-top: 30px; text-align: center;" >Digite seus dados para o cadastro</h2>
    <form>
      <input
        type="textarea"
        class="input"
        id="cnpj"
        name="cnpj"
        placeholder="CNPJ"
        [(ngModel)]="empresa.cnpj">

        <input
          type="text"
          class="input"
          id="razaoSocial"
          name="razaoSocial"
          placeholder="Razão Social"
          [(ngModel)]="empresa.razaoSocial">

        <input
          type="text"
          class="input"
          id="nomeFantasia"
          name="nomeFantasia"
          placeholder="Nome Fantasia (Opcional)"
          [(ngModel)]="empresa.nomeFantasia">

        <input
          type="text"
          class="input"
          id="endereco"
          name="endereco"
          placeholder="Endereço"
          [(ngModel)]="empresa.endereco.rua">

          <input
          type="text"
          class="input"
          id="numero"
          name="numero"
          placeholder="Número"
          [(ngModel)]="empresa.endereco.numero">

          <input
          type="text"
          class="input"
          id="cep"
          name="cep"
          placeholder="CEP"
          [(ngModel)]="empresa.endereco.cep">

          <input
          type="text"
          class="input"
          id="email"
          name="email"
          placeholder="Email"
          [(ngModel)]="empresa.email">

        <input
          type="text"
          class="input"
          id="senha"
          name="senha"
          placeholder="Senha"
          [(ngModel)]="empresa.senha">

      <input
          type="text"
          class="input"
          id="confirmacaoSenha"
          name="confirmacaoSenha"
          placeholder="Confirme a Senha">
          <!-- [(ngModel)]="empresa.confirmacaoSenha"> -->

          <input
          type="text"
          class="input"
          id="linkedin"
          name="linkedin"
          placeholder="LinkedIn"
          [(ngModel)]="empresa.linkedin">

          <input
          type="text"
          class="input"
          id="siteInstitucional"
          name="siteInstitucional"
          placeholder="Site Institucional"
          [(ngModel)]="empresa.siteInstitucional">

        <div class="acoes">
          <button (click)="criarEmpresa()" routerLink="/loginEmpresa" class="botao">Cadastrar</button>
          <button (click)="cancelar()" class="botao">Cancelar</button>
        </div>
      </form>
  </div>
</section>

