<body>
    <div class="v169_1000">
        <div class="v177_2216"></div>
        <div class="v177_2217"></div>
        <div class="v177_2220"></div>
        <div class="v177_2221"></div>
        <div class="v177_2218"></div>
        <div class="v177_2219"></div>
        <div routerLink="/reprovado-gestor" class="v177_2222"></div>
        <div routerLink="/aprovado-vaga" class="v177_2223"></div>
        <div routerLink="/finalizar-vaga" class="v177_2225"></div>
        <div routerLink="/processo-pausado" class="v177_2226"></div>
        <div routerLink="/processo-excluido" class="v177_2227"></div>
        <div class="v177_2224"></div><span class="v169_1001">Analista de seguranca da informacao</span><span
            class="v169_1002">Numero de inscricoes na vaga</span><span routerLink="/analisar-perfil" class="v169_1003">Analisar perfis</span><span
            class="v169_1004">Entrevistas com RH</span><span class="v169_1005">Candidatos aprovados pelo RH</span><span
            class="v169_1006">Candidatos reprovados pelo RH</span><span class="v169_1007">Candidatos aprovados pelo
            Gestor</span><span class="v169_1008">Candidatos reprovados pelo Gestor</span><span
            class="v169_1009">Candidatos aprovados para a vaga</span><span class="v169_1010">Entrevistas com
            Gestor</span><span class="v169_1011">Finalizar Vaga</span><span class="v169_1012">Pausar vaga</span><span
            class="v169_1013">Excluir vaga</span>
        <div class="v177_2215">
            <div class="v177_2211"></div>
            <div class="v177_2213"></div><span class="v177_2214">25</span>
        </div>
        <div class="v177_2228">
            <div class="v177_2229"></div>
            <div class="v177_2230"></div>
            <div class="v177_2231"></div>
        </div>
        <div class="v191_125"></div>
    </div>
</body>