<body>
    <div class="v177_2827">
        <div class="v177_3490"></div><span class="v177_2828">Olá, ZOOM</span><span class="v177_2829">Deseja pausar o
            processo seletivo?</span>
        <div class="v177_2830">
            <div class="v177_2831"></div>
            <div class="v177_2832"></div>
            <div class="v177_2833"></div>
        </div>
        <div routerLink="/acompanhamento-vaga" class="v177_2836"></div><span class="v177_2837">Nao</span>
        <div class="v191_139"></div>
        <div routerLink="/processo-pausado-finalizado" class="v195_156"></div><span class="v195_157">Sim</span>
    </div>
</body>