<body>
    <div class="welcome-container">
        <img src="logo.png" alt="Logo da Empresa" class="logo">
        <h1 class="welcome-heading">Olá, Empresa</h1>
        <p class="welcome-text">Seja bem-vindo à nossa plataforma de recrutamento e seleção! Veja as vagas disponíveis e acompanhe os candidatos qualificados.</p>
        <div class="buttons-container">
            <button class="action-button" routerLink="/acompanhamento-vagas">Acompanhamento das vagas cadastradas</button>
            <button class="action-button" routerLink="/acompanhamento-candidatos">Acompanhamento dos candidatos qualificados</button>
            <button class="action-button" routerLink="/cadastrar-oportunidades">Cadastro de novas oportunidades</button>
            <button class="action-button" routerLink="/alterar-dados">Alterar dados cadastrais</button>
        </div>        
    </div>
</body>