<body>
    <div class="container">
        <h1 class="welcome-text">Olá, {{empresa.razaoSocial}}!</h1>
        <h1 class="welcome-text">Seja bem-vindo(a) à sua área de Empresa,</h1>
        <h1 class="welcome-text">Veja as vagas que já foram cadastradas, cadastre novas oportunidades ou acompanhe o status dos candidatos.</h1>

        <div class="botao-box">
            <div class="image-box">
                <a (click)="listarVagas()">
                    <img src="../../../../assets/images/acompanhar.png" alt="AcompanharVagas">
                    <p class="image-text">Vagas</p>
                </a>
            </div>
            <div class="image-box">
                <a (click)="listarCandidatos()">
                    <img src="../../../../assets/images/candidato2.png" alt="AcompanharCandidatos">
                    <p class="image-text">Candidatos</p>
                </a>
            </div>
            <div class="image-box">
                <a (click)="cadastrarVaga()">
                    <img src="../../../../assets/images/vaga.png" alt="CadastrarVaga">
                    <p class="image-text">Cadastrar Vaga</p>
                </a>
            </div>
            <div class="image-box">
                <a>
                    <img src="../../../../assets/images/dados.png" alt="DadosCadastrais">
                    <p class="image-text">Dados Cadastrais</p>
                </a>
            </div>
        </div>
    </div>
</body>
