<!-- <body>
    <div class="welcome-container">
        <img src="logo.png" alt="Logo da Empresa" class="logo">
        <h1 class="welcome-heading">Olá, Empresa</h1>
        <p class="welcome-text">Seja bem-vindo à nossa plataforma de recrutamento e seleção! Veja as vagas disponíveis e acompanhe os candidatos qualificados.</p>
        <div class="buttons-container">
            <button class="action-button" (click)="listarVagas()">Acompanhamento das vagas cadastradas</button>
            <button class="action-button" (click)="listarCandidatos()">Acompanhamento dos candidatos qualificados</button>
            <button class="action-button" routerLink="/cadastrar-oportunidades">Cadastro de novas oportunidades</button>
             <button class="action-button">Alterar dados cadastrais</button>
             <button class="action-button" routerLink="/listarEmpresa">Alterar dados cadastrais</button>
        </div>
    </div>
</body> -->
<body>
    <div class="v177_1564">
        <div class="v177_1573">
            <div class="v177_1574"></div>
        </div>
        <button class="logout">
            <span class="logout-txt">Logout</span>
        </button>
            
        <span class="v177_1565">Olá, [nome do usuario]!</span>
        <span class="v177_1566">Seja bem-vindo(a) a área de administração da plataforma!</span>
        <span class="v177_1567">Veja a DashBoard dos numeros da plataforma, cadastre usuarios administrativos ou realize o upload do xml.</span>

        <button routerLink="/cadastro-em-xml" class="v177_1568" >
            <span class="v177_1570">Cadastro do XML</span>
            <div class="v177_1576"></div>
        </button>

        <button routerLink="/cadastro-em-acm-metricas" class="v177_1569"> 
            <span class="v177_1571">Acompanhar Métricas</span>
            <div class="v177_1599"></div>
        </button>

        <button routerLink="/cadastro-em" class="v177_1593">
            <span class="v177_1594">Cadastrar Administrador</span>
            <div class="v177_1597"></div>
        </button>

        <div class="v191_116"></div>

    </div>
</body>