<body>
    <div class="v177_1564">
        <div class="v177_1573">
            <div class="v177_1574"></div>
        </div>
        <button class="logout">
            <span class="logout-txt">Logout</span>
        </button>


        <span class="v177_1565">Olá, [nome do usuario]!</span>
        <span class="v177_1566">Seja bem-vindo(a) a área de administrativa da Ernst & Young</span>
        <span class="v177_1567">Veja as vagas que já foram cadastradas, cadastre novas oportunidades ou acompanhe o status dos candidatos.</span>

        <span class="v177_1568" routerLink="/buscar-vagas">
            <span class="v177_1570">Buscar novas vagas</span>
            <div class="v177_1576"></div>
        </span>

        <button class="v177_1569">
            <span class="v177_1571">Acompanhar Vagas</span>
            <div class="v177_1599"></div>
        </button>

        <button class="v177_1593" routerLink="/formulario-candidatura">
            <span class="v177_1594">Currículo</span>
            <div class="v177_1597"></div>
        </button>

        <button class="v200_180" routerLink="/editar-candidatos">
            <span class="v200_181">Alterar dados cadastrais</span>
            <div class="v200_182"></div>
        </button>

        <div class="v191_116"></div>

    </div>
</body>
