<body>
    <div class="v177_3152">
        <div class="v177_3550"></div>
        <div class="v177_3551"></div>
        <div class="v177_3552"></div>
        <div class="v177_3553"></div>
        <div class="v177_3554"></div>
        <div class="v177_3555"></div>
        <div class="v177_3556"></div>
        <div class="v177_3557"></div>
        <div class="v177_3558"></div>
        <div class="v177_3559"></div>
        <div class="v177_3560"></div>
        <div class="v177_3561"></div><span class="v177_3562">Numero de inscricoes em vagas</span><span
            class="v177_3563">Numero de usuarios cadastrados</span><span class="v177_3564">Numero de entrevistas com
            RH</span><span class="v177_3565">Numero de empresas cadastradas</span><span class="v177_3566">Numero de
            candidatos aprovados pelo RH</span><span class="v177_3567">Numero de Candidatos reprovados pelo
            RH</span><span class="v177_3568">Numero de entrevistas com gestores</span><span class="v177_3569">Numero de
            Candidatos aprovados pelo Gestor</span><span class="v177_3570">Numero de candidatos aprovados por
            Gestor</span><span class="v177_3571">Numero de candidatos reprovados pelo Gestor</span><span
            class="v177_3572">Numero de candidatos aprovados</span>
        <div class="v177_3573"></div>
        <div class="v177_3574"></div><span class="v177_3575">50</span>
        <div class="v177_3576"></div>
        <div class="v177_3577"></div><span class="v177_3578">50</span>
        <div class="v177_3579"></div>
        <div class="v177_3580"></div><span class="v177_3581">50</span>
        <div class="v177_3582"></div>
        <div class="v177_3583"></div><span class="v177_3584">50</span>
        <div class="v177_3585"></div>
        <div class="v177_3586"></div><span class="v177_3587">50</span>
        <div class="v177_3588"></div>
        <div class="v177_3589"></div><span class="v177_3590">50</span><span class="v177_3591">Numero de testes
            realizados</span>
        <div class="v177_3592"></div>
        <div class="v177_3593"></div><span class="v177_3594">50</span>
        <div class="v177_3595"></div>
        <div class="v177_3596"></div><span class="v177_3597">50</span>
        <div class="v177_3598"></div>
        <div class="v177_3599"></div><span class="v177_3600">50</span>
        <div class="v177_3601"></div>
        <div class="v177_3602"></div><span class="v177_3603">50</span>
        <div class="v177_3604"></div>
        <div class="v177_3605"></div><span class="v177_3606">50</span>
        <div class="v177_3607"></div>
        <div class="v177_3608"></div><span class="v177_3609">50</span><span class="v177_3610">DashBoard empresa
            ZOOM</span>
        <div class="v191_154"></div>
    </div>
</body>