<body>
    <div class="v177_3434"><span class="v177_3435">Olá, ZOOM</span><span class="v177_3436">Deseja excluir o
            usuario?</span>
        <div class="v177_3437">
            <div class="v177_3438"></div>
            <div class="v177_3439"></div>
            <div class="v177_3440"></div>
        </div>
        <div routerLink="/cadastro-em-exclude-msg" class="v177_3441"></div><span class="v177_3442">Sim</span>
        <div routerLink="/cadastro-em" class="v177_3443"></div><span class="v177_3444">Nao</span>
        <div class="v177_3475"></div>
        <div class="v191_155"></div>
    </div>
</body>