<body class="fundo1">
  <div class="form-dados">
    <form (ngSubmit)="saveDadosPessoais()">
      <div class="secao">
      <h2>Dados Pessoais</h2>
      <label for="dataNascimento">Data de Nascimento:</label>
      <input type="date" id="dataNascimento" [(ngModel)]="dadosPessoais.dataNascimento" required />

      <label for="genero">Gênero:</label>
      <select id="genero" [(ngModel)]="dadosPessoais.genero" required>
        <option value="Masculino">Masculino</option>
        <option value="Feminino">Feminino</option>
        <option value="Outro">Outro</option>
      </select>

      <label for="deficiencia">Deficiência:</label>
      <div class="check-deficiencia">
        <label><input type="checkbox" value="Física" [(ngModel)]="dadosPessoais.deficiencias.fisica" />
          Física</label>
        <label><input type="checkbox" value="Auditiva" [(ngModel)]="dadosPessoais.deficiencias.auditiva" />
          Auditiva</label>
        <label><input type="checkbox" value="Visual" [(ngModel)]="dadosPessoais.deficiencias.visual" />
          Visual</label>
        <label><input type="checkbox" value="Intelectual" [(ngModel)]="dadosPessoais.deficiencias.intelectual" />
          Intelectual</label>
        <label><input type="checkbox" value="Autista" [(ngModel)]="dadosPessoais.deficiencias.autista" />
          Transtorno do Espectro Autista (TEA)
        </label>
      </div>

      <label for="cep">CEP:</label>
      <input type="text" id="cep" class="formulario-input" placeholder="Digite o CEP" />

      <label for="endereco">Endereço:</label>
      <input type="text" id="endereco" class="formulario-input" placeholder="Digite o endereço" />

      <label for="numero">Número:</label>
      <input type="text" id="numero" class="formulario-input" placeholder="Número" />

      <label for="cidade">Cidade:</label>
      <input type="text" id="cidade" class="formulario-input" placeholder="Cidade" />

      <label for="estado">Estado:</label>
      <input type="text" id="estado" class="formulario-input" placeholder="Estado" />

      <label for="linkedin">LinkedIn:</label>
      <input type="text" id="linkedin" class="formulario-input" placeholder="Insira o LinkedIn" />

      <!-- Botão de salvar para essa parte -->
      <!-- <button class="salvar-button">Salvar</button> -->
      <!-- </form> -->
    </div>
      <h2>Experiência Acadêmica</h2>
      <!-- <form (ngSubmit)="saveExperienciaAcademica()"> -->
      <label for="formacao">Formação:</label>
      <select id="formacao" class="formulario-input">
        <option value="fundamental">Ensino Fundamental</option>
        <option value="medio">Ensino Médio</option>
        <option value="graduacao">Graduação</option>
        <option value="posgraduacao">Pós-graduação</option>
        <option value="mestrado">Mestrado</option>
        <option value="doutorado">Doutorado</option>
      </select>

      <label for="curso">Curso:</label>
      <input type="text" id="curso" class="formulario-input" placeholder="Digite o curso" />

      <label for="inicio">Início:</label>
      <input type="text" id="inicio" class="formulario-input" placeholder="Data de início" />

      <label for="fim">Fim:</label>
      <input type="text" id="fim" class="formulario-input" placeholder="Data de término" />

      <!-- <button type="submit">Salvar</button> -->
      <!-- </form> -->

      <h2>Idiomas</h2>
      <!-- <form (ngSubmit)="saveIdiomas()"> -->

      <label for="idioma">Idioma:</label>
      <select id="idioma" class="formulario-input">
        <option value="ingles">Inglês</option>
        <option value="espanhol">Espanhol</option>
        <option value="frances">Francês</option>
        <option value="alemao">Alemão</option>
        <option value="portugues">Português</option>
        <!-- Adicione outros idiomas conforme necessário -->
      </select>

      <label for="nivelIdioma">Nível:</label>
      <select id="nivelIdioma" class="formulario-input">
        <option value="basico">Básico</option>
        <option value="intermediario">Intermediário</option>
        <option value="avancado">Avançado</option>
      </select>

      <!-- <button type="button" (click)="adicionarIdioma()">Adicionar Idioma</button> -->
      <button type="button">Adicionar Idioma</button>

      <!-- <button type="submit">Salvar</button> -->
      <!-- </form> -->

      <h2>Certificados</h2>
      <!-- <form (ngSubmit)="saveCertificados()"> -->
      <label for="certificado">Certificado:</label>
      <input type="text" id="certificado" class="formulario-input" placeholder="Nome do certificado" />

      <button type="button" (click)="adicionarCertificado()">
        Adicionar Certificado
      </button>

      <!-- <button class="salvar-button">Salvar</button> -->
    </form>

    <BR />

    <button (click)="finalizarCandidatura()">Finalizar Candidatura</button>
  </div>
</body>
