<body class="fundo1">
    <div class="form-dados">
      <form (ngSubmit)="finalizarCandidatura()">
        <div class="secao">
                <h2>Dados Pessoais</h2>
                <label for="dataNascimento">Data de Nascimento:</label>
                <input type="date" id="dataNascimento" name="dataNascimento" [(ngModel)]="curriculo.dataNascimento" required/>

                <label for="genero">Gênero:</label>
                <select id="genero" [(ngModel)]="curriculo.genero" name="genero" required>
                    <option value="Masculino">Masculino</option>
                    <option value="Feminino">Feminino</option>
                    <option value="Transgênero">Transgênero</option>
                    <option value="Não Binário">Não Binário</option>
                    <option value="Outro">Outro</option>
                    <option value="Prefiro não informar">Prefiro não informar</option>
                </select>

                <label for="identificacao">Como você se identifica racial/etnicamente?</label>
                <select id="identificacao" [(ngModel)]="curriculo.raca" name="identificacao" required>
                    <option value="Preta(o) ou Negra(o)">Preta(o) ou Negra(o)</option>
                    <option value="Branca(o)">Branca(o)</option>
                    <option value="Parda(o)">Parda(o)</option>
                    <option value="Indígena ou Nativa(o)">Indígena ou Nativa(o)</option>
                    <option value="Amarela(o) ou Asiática(o)">Amarela(o) ou Asiática(o)</option>
                    <option value="Árabe ou Oriente Médio">Árabe ou Oriente Médio</option>
                    <option value="Outra Etnia ou Raça">Outra Etnia ou Raça</option>
                    <option value="Prefiro não informar">Prefiro não informar</option>
                </select>

                <label for="deficiencia">Deficiência:</label>
                <div class="check-deficiencia">
                    <label><input type="checkbox"  name="fisica" value="Física" [(ngModel)]="curriculo.deficiencias.fisica"/>
                        Física</label>
                    <label><input type="checkbox"  name="auditiva" value="Auditiva" [(ngModel)]="curriculo.deficiencias.auditiva"/>
                        Auditiva</label>
                    <label><input type="checkbox"  name="visual" value="Visual" [(ngModel)]="curriculo.deficiencias.visual"/>
                        Visual</label>
                    <label><input type="checkbox"  name="intelectual" value="Intelectual" [(ngModel)]="curriculo.deficiencias.intelectual"/>
                        Intelectual</label>
                    <label><input type="checkbox"  name="autista" value="Autista" [(ngModel)]="curriculo.deficiencias.autista"/>
                        Transtorno do Espectro Autista (TEA)</label>
                </div>

                <label for="cep">CEP:</label>
                <input type="text" id="cep" name="cep" [(ngModel)]="curriculo.endereco.cep" class="formulario-input" placeholder="Digite o CEP"/>

                <label for="endereco">Endereço:</label>
                <input type="text" id="endereco" name="endereco" [(ngModel)]="curriculo.endereco.endereco" class="formulario-input" placeholder="Digite o endereço"/>

                <label for="numero">Número:</label>
                <input type="text" id="numero" name="numero" [(ngModel)]="curriculo.endereco.numero" class="formulario-input" placeholder="Número"/>

                <label for="cidade">Cidade:</label>
                <input type="text" id="cidade" name="cidade" [(ngModel)]="curriculo.endereco.cidade" class="formulario-input" placeholder="Cidade"/>

                <label for="estado">Estado:</label>
                <input type="text" id="estado" name="estado" [(ngModel)]="curriculo.endereco.estado" class="formulario-input" placeholder="Estado"/>

                <label for="linkedin">LinkedIn:</label>
                <input type="text" id="linkedin" name="linkedin" [(ngModel)]="curriculo.linkedin" class="formulario-input" placeholder="Insira o LinkedIn"/>

            <!-- Botão de salvar para essa parte -->
                <!-- <button class="salvar-button">Salvar</button> -->
                <!-- </form> -->
            </div>
            <h2>Experiência Acadêmica</h2>
            <!-- <form (ngSubmit)="saveExperienciaAcademica()"> -->
            <label for="formacao">Formação:</label>
            <select id="formacao"  name="formacao" class="formulario-input">
                <option value="fundamental">Ensino Fundamental</option>
                <option value="medio">Ensino Médio</option>
                <option value="graduacao">Graduação</option>
                <option value="posgraduacao">Pós-graduação</option>
                <option value="mestrado">Mestrado</option>
                <option value="doutorado">Doutorado</option>
            </select>

            <label for="curso">Curso:</label>
            <input type="text" id="curso" name="curso" class="formulario-input" placeholder="Digite o curso"/>

            <label for="inicio">Início:</label>
            <input type="date" id="inicio" name="inicio" class="formulario-input" placeholder="Data de início"/>

            <label for="fim">Fim:</label>
            <input type="date" id="fim" name="fim" class="formulario-input" placeholder="Data de término"/>
            <!-- <button type="submit">Salvar</button> -->
            <!-- </form> -->
                <h2>
            Idiomas
            </h2>
            <!-- <form (ngSubmit)="saveIdiomas()"> -->
                <label for="idioma"> Idioma:</label>
            <select id="idioma"  name="idioma" class="formulario-input">
                <option value="ingles">Inglês</option>
                <option value="espanhol">Espanhol</option>
                <option value="frances">Francês</option>
                <option value="alemao">Alemão</option>
                <option value="portugues">Português</option>
                <!-- Adicione outros idiomas conforme necessário -->
            </select>

            <label for="nivelIdioma">Nível:</label>
            <select id="nivelIdioma" name="nivelIdioma" class="formulario-input">
                <option value="basico">Básico</option>
                <option value="intermediario">Intermediário</option>
                <option value="avancado">Avançado</option>
            </select>

            <!-- <button type="button" (click)="adicionarIdioma()">Adicionar Idioma</button> -->
            <button type="button">Adicionar Idioma</button>

            <!-- <button type="submit">Salvar</button> -->
            <!-- </form> -->

            <h2>Certificados</h2>
            <!-- <form (ngSubmit)="saveCertificados()"> -->
            <label for="certificado">Certificado:</label>
            <input type="text" id="certificado" name="certificado" class="formulario-input" placeholder="Nome do certificado"/>

            <button type="button">
                Adicionar Certificado
            </button>

            <!-- <button class="salvar-button">Salvar</button> -->
            <button routerLink="">Finalizar Candidatura</button>

        </form>
    </div>
</body>
