<body>
    <div class="v177_2881">
        <div class="v177_3489"></div><span class="v177_2882">Olá, ZOOM</span><span class="v177_2883">Deseja excluir o
            processo seletivo?</span>
        <div class="v177_2884">
            <div class="v177_2885"></div>
            <div class="v177_2886"></div>
            <div class="v177_2887"></div>
        </div>
        <div routerLink="/processo-excluido-finalizado" class="v177_2888"></div><span class="v177_2889">Sim</span>
        <div routerLink="/acompanhamento-vaga" class="v177_2890"></div><span class="v177_2891">Nao</span>
        <div class="v191_142"></div>
    </div>
</body>