* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v177_2881 {
    width: 100%;
    height: 982px;
    background: rgba(46,46,56,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v177_3489 {
    width: 494px;
    height: 140px;
    background: rgba(72,72,87,0.30000001192092896);
    opacity: 1;
    position: absolute;
    top: 387px;
    left: 509px;
    border: 1px solid rgba(213,193,13,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v177_2882 {
    width: 97px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 423px;
    left: 707px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2883 {
    width: 315px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 462px;
    left: 596px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2884 {
    width: 491px;
    height: 353px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 50px;
    left: 527px;
    overflow: hidden;
  }
  .v177_2885 {
    width: 220px;
    height: 226px;
    background: url("../../../../assets/images/v177_2885.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 127px;
    left: 136px;
    overflow: hidden;
  }
  .v177_2886 {
    width: 491px;
    height: 333px;
    background: url("../../../../assets/images/v177_2886.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v177_2887 {
    width: 491px;
    height: 333px;
    background: url("../../../../assets/images/v177_2887.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v177_2888 {
    width: 63px;
    height: 36px;
    background: rgba(26,199,64,1);
    opacity: 1;
    position: absolute;
    top: 535px;
    left: 688px;
    border: 2px solid rgba(27,200,65,1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2889 {
    width: 35px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 553px;
    left: 704px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2890 {
    width: 63px;
    height: 36px;
    background: rgba(202,10,10,1);
    opacity: 1;
    position: absolute;
    top: 537px;
    left: 760px;
    border: 2px solid rgba(202,10,10,1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2891 {
    width: 37px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 553px;
    left: 775px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v191_142 {
    width: 62px;
    height: 62px;
    background: url("../../../../assets/images/v191_142.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 919px;
    left: 0px;
    overflow: hidden;
  }
  