<body>
    <div class="v177_3102">
        <div class="v177_3538"></div>
        <div class="v177_3539"></div>
        <div class="v177_3540"></div>
        <div class="v177_3541"></div>
        <div class="v177_3542"></div>
        <div class="v177_3543"></div>
        <div class="v177_3544"></div>
        <div class="v177_3545"></div>
        <div class="v177_3546"></div>
        <div class="v177_3547"></div>
        <div class="v177_3548"></div>
        <div class="v177_3549"></div><span class="v177_3103">DashBoard da plataforma de recrutamento e
            selecao</span><span class="v177_3104">Numero de inscricoes em vagas</span><span class="v177_3105">Numero de
            usuarios cadastrados</span><span class="v177_3106">Numero de entrevistas com RH</span><span
            class="v177_3107">Numero de empresas cadastradas</span><span class="v177_3108">Numero de candidatos
            aprovados pelo RH</span><span class="v177_3109">Numero de Candidatos reprovados pelo RH</span><span
            class="v177_3110">Numero de entrevistas com gestores</span><span class="v177_3111">Numero de Candidatos
            aprovados pelo Gestor</span><span class="v177_3112">Numero de candidatos aprovados por Gestor</span><span
            class="v177_3113">Numero de candidatos reprovados pelo Gestor</span><span class="v177_3114">Numero de
            candidatos aprovados</span>
        <div class="v177_3115"></div>
        <div class="v177_3116"></div><span class="v177_3117">50</span>
        <div class="v177_3118"></div>
        <div class="v177_3119"></div><span class="v177_3120">50</span>
        <div class="v177_3121"></div>
        <div class="v177_3122"></div><span class="v177_3123">50</span>
        <div class="v177_3124"></div>
        <div class="v177_3125"></div><span class="v177_3126">50</span>
        <div class="v177_3127"></div>
        <div class="v177_3128"></div><span class="v177_3129">50</span>
        <div class="v177_3130"></div>
        <div class="v177_3131"></div><span class="v177_3132">50</span><span class="v177_3133">Numero de testes
            realizados</span>
        <div class="v177_3134"></div>
        <div class="v177_3135"></div><span class="v177_3136">50</span>
        <div class="v177_3137"></div>
        <div class="v177_3138"></div><span class="v177_3139">50</span>
        <div class="v177_3140"></div>
        <div class="v177_3141"></div><span class="v177_3142">50</span>
        <div class="v177_3143"></div>
        <div class="v177_3144"></div><span class="v177_3145">50</span>
        <div class="v177_3146"></div>
        <div class="v177_3147"></div><span class="v177_3148">50</span>
        <div class="v177_3149"></div>
        <div class="v177_3150"></div><span class="v177_3151">50</span>
        <div class="v191_147"></div>
    </div>
</body>