<body>
  <div class="cadastro-container">
      <h1 class="cadastro-heading">Cadastre novas oportunidades</h1>
      <form [formGroup]="formulario" class="cadastro-form">
          <label for="nomeVaga">Nome da vaga</label>
          <input [(ngModel)]="vaga.nome" formControlName="nome" type="text" id="nomeVaga" class="cadastro-input">
          <div class="mensagem__erro" *ngIf="formulario.get('nome')?.errors?.['required'] && formulario.get('nome')?.touched">
            *Campo obrigatório!
          </div>

          <label for="tipoVaga">Tipo de contratação</label>
          <select [(ngModel)]="vaga.tipoVaga" formControlName="tipoContratacao" id="tipoContratacao" class="cadastro-input">
              <option value="CLT">CLT</option>
              <option value="PJ">PJ</option>
              <option value="PJ">Estágio</option>
              <option value="PJ">Aprendiz</option>
          </select>
          <div class="mensagem__erro" *ngIf="formulario.get('tipoContratacao')?.errors?.['required'] && formulario.get('tipoContratacao')?.touched">
            *Campo obrigatório!
          </div>

          <label for="dataPublicacao">Data de publicação</label>
          <input [(ngModel)]="vaga.dataPublicacao" formControlName="dataPublicacao" type="date" id="dataPublicacao" class="cadastro-input">
          <div class="mensagem__erro" *ngIf="formulario.get('dataPublicacao')?.errors?.['required'] && formulario.get('dataPublicacao')?.touched">
            *Campo obrigatório!
          </div>

          <label for="cidade">Cidade</label>
          <input [(ngModel)]="vaga.cidade" formControlName="cidade" type="text" id="cidade" class="cadastro-input">
          <div class="mensagem__erro" *ngIf="formulario.get('cidade')?.errors?.['required'] && formulario.get('cidade')?.touched">
            *Campo obrigatório!
          </div>

          <label for="estado">Estado</label>
          <input [(ngModel)]="vaga.estado" formControlName="estado" type="text" id="estado" class="cadastro-input">
          <div class="mensagem__erro" *ngIf="formulario.get('estado')?.errors?.['required'] && formulario.get('estado')?.touched">
            *Campo obrigatório!
          </div>

          <label for="remuneracao">Remuneração</label>
          <input [(ngModel)]="vaga.salario" formControlName="remuneracao" type="text" id="remuneracao" class="cadastro-input">
          <div class="mensagem__erro" *ngIf="formulario.get('salario')?.errors?.['required'] && formulario.get('salario')?.touched">
            *Campo obrigatório!
          </div>

          <label for="modalidade">Modalidade</label>
          <select [(ngModel)]="vaga.modalidade" formControlName="modalidade" id="modalidade" class="cadastro-input">
            <option value="Presencial">Presencial</option>
            <option value="Hibrido">Híbrido</option>
            <option value="HomeOffice">Home Office</option>
          </select>
          <div class="mensagem__erro" *ngIf="formulario.get('modalidade')?.errors?.['required'] && formulario.get('modalidade')?.touched">
            *Campo obrigatório!
          </div>

          <label for="descricao">Sobre a vaga</label>
          <textarea [(ngModel)]="vaga.descricao" formControlName="sobreAVaga" id="sobreAVaga" class="cadastro-textarea"></textarea>
          <div class="mensagem__erro" *ngIf="formulario.get('descricao')?.errors?.['required'] && formulario.get('descricao')?.touched">
            *Campo obrigatório!
          </div>

          <label for="responsabilidades">Responsabilidades e atribuições</label>
          <textarea [(ngModel)]="vaga.responsabilidades" formControlName="responsabilidades" id="responsabilidades" class="cadastro-textarea"></textarea>
          <div class="mensagem__erro" *ngIf="formulario.get('responsabilidades')?.errors?.['required'] && formulario.get('responsabilidades')?.touched">
            *Campo obrigatório!
          </div>

          <label for="qualificacoes">Qualificações desejadas</label>
          <textarea [(ngModel)]="vaga.qualificacoes" formControlName="qualificacoes" id="qualificacoes" class="cadastro-textarea"></textarea>
          <div class="mensagem__erro" *ngIf="formulario.get('qualificacoes')?.errors?.['required'] && formulario.get('qualificacoes')?.touched">
            *Campo obrigatório!
          </div>

          <div class="botoes">
            <button (click)="criarOportunidade()" class="cadastro-button">Cadastre</button>
            <button (click)="cancelar()" class="cancelar-button">Cancelar</button>
        </div>
      </form>
  </div>
</body>
