<body>
    <div class="cadastro-container">
        <h1 class="cadastro-heading">Cadastre novas oportunidades</h1>
        <form [formGroup]="formulario" class="cadastro-form">
            <label for="nomeVaga">Nome da vaga</label>
            <input formControlName="nome" type="text" id="nomeVaga" class="cadastro-input">
            <div class="mensagem__erro" *ngIf="formulario.get('nome')?.errors?.['required'] && formulario.get('nome')?.touched">
              *Campo obrigatório!
            </div>
            <div class="mensagem__erro" *ngIf="formulario.get('nome')?.errors?.['minlength'] && formulario.get('nome')?.touched">
              *Esse campo deve ter pelo menos 3 caracteres
            </div>

            <label for="tipoContratacao">Tipo de contratação</label>
            <select formControlName="tipoContratacao" id="tipoContratacao" class="cadastro-input">
                <option value="CLT">CLT</option>
                <option value="PJ">PJ</option>
            </select>
            <div class="mensagem__erro" *ngIf="formulario.get('tipoContratacao')?.errors?.['required'] && formulario.get('tipoContratacao')?.touched">
              *Campo obrigatório!
            </div>

            <label for="dataPublicacao">Data de publicação</label>
            <input formControlName="dataPublicacao" type="date" id="dataPublicacao" class="cadastro-input">
            <div class="mensagem__erro" *ngIf="formulario.get('dataPublicacao')?.errors?.['required'] && formulario.get('dataPublicacao')?.touched">
              *Campo obrigatório!
            </div>

            <label for="cidade">Cidade</label>
            <input formControlName="cidade" type="text" id="cidade" class="cadastro-input">
            <div class="mensagem__erro" *ngIf="formulario.get('cidade')?.errors?.['required'] && formulario.get('cidade')?.touched">
              *Campo obrigatório!
            </div>



            <label for="estado">Estado (Sigla)</label>
            <select formControlName="estado" id="estado" class="cadastro-input">
              <option value="AC">AC</option>
              <option value="AL">AL</option>
              <option value="AP">AP</option>
              <option value="AM">AM</option>
              <option value="BA">BA</option>
              <option value="CE">CE</option>
              <option value="DF">DF</option>
              <option value="ES">ES</option>
              <option value="GO">GO</option>
              <option value="MA">MA</option>
              <option value="MT">MT</option>
              <option value="MS">MS</option>
              <option value="MG">MG</option>
              <option value="PA">PA</option>
              <option value="PB">PB</option>
              <option value="PR">PR</option>
              <option value="PE">PE</option>
              <option value="PI">PI</option>
              <option value="RJ">RJ</option>
              <option value="RN">RN</option>
              <option value="RS">RS</option>
              <option value="RO">RO</option>
              <option value="RR">RR</option>
              <option value="SC">SC</option>
              <option value="SP">SP</option>
              <option value="SE">SE</option>
              <option value="TO">TO</option>
            </select>


            <label for="salario">Salário</label>
            <input formControlName="salario" type="text" id="salario" class="cadastro-input">
            <div class="mensagem__erro" *ngIf="formulario.get('salario')?.errors?.['required'] && formulario.get('salario')?.touched">
              *Campo obrigatório!
            </div>
            <div class="mensagem__erro" *ngIf="formulario.get('salario')?.errors?.['pattern'] && formulario.get('salario')?.touched">
              *Esse campo deve ter apenas valores numéricos!
            </div>

            <label for="modalidade">Modalidade</label>
            <select formControlName="modalidade" id="modalidade" class="cadastro-input">
              <option value="Presencial">Presencial</option>
              <option value="Hibrido">Híbrido</option>
              <option value="HomeOffice">Home Office</option>
            </select>
            <div class="mensagem__erro" *ngIf="formulario.get('modalidade')?.errors?.['required'] && formulario.get('modalidade')?.touched">
              *Campo obrigatório!
            </div>

            <label for="sobreAVaga">Sobre a vaga</label>
            <textarea formControlName="sobreAVaga" id="sobreAVaga" class="cadastro-textarea"></textarea>
            <div class="mensagem__erro" *ngIf="formulario.get('sobreAVaga')?.errors?.['required'] && formulario.get('sobreAVaga')?.touched">
              *Campo obrigatório!
            </div>

            <label for="responsabilidades">Responsabilidades e atribuições</label>
            <textarea formControlName="responsabilidades" id="responsabilidades" class="cadastro-textarea"></textarea>
            <div class="mensagem__erro" *ngIf="formulario.get('responsabilidades')?.errors?.['required'] && formulario.get('responsabilidades')?.touched">
              *Campo obrigatório!
            </div>

            <label for="qualificacoes">Qualificações desejadas</label>
            <textarea formControlName="qualificacoes" id="qualificacoes" class="cadastro-textarea"></textarea>
            <div class="mensagem__erro" *ngIf="formulario.get('qualificacoes')?.errors?.['required'] && formulario.get('qualificacoes')?.touched">
              *Campo obrigatório!
            </div>

            <div class="botoes">
              <button
                [disabled]="!formulario.valid"
                (click)="criarOportunidade()"
                [ngClass]="habilitarBotao()">Cadastre</button>
              <button (click)="cancelar()" class="cancelar-button">Cancelar</button>
          </div>
        </form>
    </div>
</body>
