body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #333333;
    font-family: 'PT Mono', monospace;
}

.cadastro-container {
    text-align: center;
    color: white;
}

.cadastro-heading {
    font-size: 24px;
    margin-top: 20px;
}

.cadastro-form {
    margin-top: 30px;
    text-align: left;
}

.cadastro-form label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

.cadastro-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

.cadastro-textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    resize: vertical;
}

.cadastro-button {
    background-color: #555555;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.cadastro-button:hover {
    background-color: #333333;
}
