<body>
    <div class="v177_2623"><span class="v177_2624">Central de FeedBack</span>
        <div class="v177_2625">
            <div class="v177_2626"></div>
            <div class="v177_2627"></div>
            <div class="v177_2628"></div>
        </div><span class="v177_2629">Analise do Curriculo</span><span class="v177_2631">Entrevista com
            Gestor</span><span class="v177_2632">Entrevista com RH</span><span class="v177_2633">Status final</span>
        <div class="v177_2635"></div>
        <div class="v177_2636"></div>
        <div class="v177_2637"></div>
        <div class="v177_2638"></div>
        <div class="v177_2639">
            <div class="v177_2640"></div>
            <div class="v177_2641"></div>
            <div class="v177_2642"></div>
        </div>
        <div class="v177_2646"></div><span class="v177_2647">Aprovar</span>
        <div class="v177_2648"></div><span class="v177_2649">Reprovar</span>
        <div class="v177_2650"></div><span class="v177_2651">Aprovar</span>
        <div class="v177_2652"></div><span class="v177_2653">Reprovar</span>
        <div class="v177_2658"></div><span class="v177_2659">Aprovar</span>
        <div class="v177_2660"></div><span class="v177_2661">Reprovar</span>
        <div class="v177_2662"></div><span class="v177_2663">Aprovar</span>
        <div class="v177_2664"></div><span class="v177_2665">Reprovar</span>
        <div class="v191_129"></div>
    </div>
</body>