* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v177_2623 {
    width: 100%;
    height: 982px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v177_2624 {
    width: 333px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 115px;
    left: 589px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v177_2625 {
    width: 100%;
    height: 46px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 151px;
    left: 49px;
    overflow: hidden;
  }
  .v177_2626 {
    width: 100%;
    height: 5px;
    background: rgba(196,194,194,0.5);
    opacity: 1;
    position: absolute;
    top: 21px;
    left: 0px;
  }
  .v177_2627 {
    width: 649px;
    height: 5px;
    background: rgba(196,194,194,0.5);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 382px;
  }
  .v177_2628 {
    width: 400px;
    height: 5px;
    background: rgba(196,194,194,0.5);
    opacity: 1;
    position: absolute;
    top: 41px;
    left: 516px;
  }
  .v177_2629 {
    width: 326px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 284px;
    left: 358px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v177_2631 {
    width: 358px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 629px;
    left: 355px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v177_2632 {
    width: 299px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 284px;
    left: 867px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v177_2633 {
    width: 184px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 629px;
    left: 867px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v177_2635 {
    width: 335px;
    height: 130px;
    background: rgba(248,248,248,1);
    opacity: 1;
    position: absolute;
    top: 318px;
    left: 358px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2636 {
    width: 335px;
    height: 130px;
    background: rgba(248,248,248,1);
    opacity: 1;
    position: absolute;
    top: 663px;
    left: 358px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2637 {
    width: 335px;
    height: 130px;
    background: rgba(248,248,248,1);
    opacity: 1;
    position: absolute;
    top: 318px;
    left: 867px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2638 {
    width: 335px;
    height: 130px;
    background: rgba(248,248,248,1);
    opacity: 1;
    position: absolute;
    top: 663px;
    left: 867px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2639 {
    width: 227px;
    height: 163px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 1283px;
    overflow: hidden;
  }
  .v177_2640 {
    width: 101px;
    height: 104px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 58px;
    left: 62px;
    overflow: hidden;
  }
  .v177_2641 {
    width: 227px;
    height: 153px;
    background: url("../../../../assets/images/v177_2641.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v177_2642 {
    width: 227px;
    height: 153px;
    background: url("../../../../assets/images/v177_2642.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v177_2646 {
    width: 104px;
    height: 36px;
    background: rgba(26,199,64,1);
    opacity: 1;
    position: absolute;
    top: 473px;
    left: 414px;
    border: 2px solid rgba(27,200,65,1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2647 {
    width: 71px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 491px;
    left: 430px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2648 {
    width: 108px;
    height: 36px;
    background: rgba(202,10,10,1);
    opacity: 1;
    position: absolute;
    top: 473px;
    left: 530px;
    border: 2px solid rgba(202,10,10,1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2649 {
    width: 81px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 491px;
    left: 546px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2650 {
    width: 104px;
    height: 36px;
    background: rgba(26,199,64,1);
    opacity: 1;
    position: absolute;
    top: 473px;
    left: 934px;
    border: 2px solid rgba(27,200,65,1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2651 {
    width: 71px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 491px;
    left: 950px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2652 {
    width: 108px;
    height: 36px;
    background: rgba(202,10,10,1);
    opacity: 1;
    position: absolute;
    top: 473px;
    left: 1050px;
    border: 2px solid rgba(202,10,10,1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2653 {
    width: 81px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 491px;
    left: 1066px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2658 {
    width: 104px;
    height: 36px;
    background: rgba(26,199,64,1);
    opacity: 1;
    position: absolute;
    top: 815px;
    left: 414px;
    border: 2px solid rgba(27,200,65,1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2659 {
    width: 71px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 833px;
    left: 430px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2660 {
    width: 108px;
    height: 36px;
    background: rgba(202,10,10,1);
    opacity: 1;
    position: absolute;
    top: 815px;
    left: 530px;
    border: 2px solid rgba(202,10,10,1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2661 {
    width: 81px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 833px;
    left: 546px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2662 {
    width: 104px;
    height: 36px;
    background: rgba(26,199,64,1);
    opacity: 1;
    position: absolute;
    top: 815px;
    left: 934px;
    border: 2px solid rgba(27,200,65,1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2663 {
    width: 71px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 833px;
    left: 950px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2664 {
    width: 108px;
    height: 36px;
    background: rgba(202,10,10,1);
    opacity: 1;
    position: absolute;
    top: 815px;
    left: 1050px;
    border: 2px solid rgba(202,10,10,1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2665 {
    width: 81px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 833px;
    left: 1066px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v191_129 {
    width: 62px;
    height: 62px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 920px;
    left: 0px;
    overflow: hidden;
  }
  