<div class="detalhes-vaga">
  <h1>{{ vaga.nome }}</h1>
  <p><strong>Tipo de Contratação:</strong> {{ vaga.tipoContratacao }}</p>
  <p><strong>Data de Publicação:</strong> {{ vaga.dataPublicacao }}</p>
  <p><strong>Cidade:</strong> {{ vaga.cidade }}</p>
  <p><strong>Estado:</strong> {{ vaga.estado }}</p>
  <p><strong>Remuneração:</strong> {{ vaga.remuneracao }}</p>
  <h2>Sobre a Vaga</h2>
  <p>{{ vaga.sobreAVaga }}</p>
  <h2>Responsabilidades e Atribuições</h2>
  <p>{{ vaga.responsabilidades }}</p>
  <h2>Qualificações Desejadas</h2>
  <p>{{ vaga.qualificacoes }}</p>
</div>
