<body>
    <div class="v177_2666">
        <div class="v177_2667"></div>
        <div class="v177_2668"></div>
        <div class="v177_2669"></div>
        <div class="v177_2670"></div>
        <div class="v177_2671"></div>
        <div class="v177_2672"></div>
        <div class="v177_2673"></div>
        <div class="v177_2674"></div>
        <div class="v177_2675"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="v177_2703"></div><span class="v177_2704">Dia</span>
        <div class="v177_2705"></div><span class="v177_2706">Horário</span>
        <div class="v177_2707"></div><span class="v177_2708">Aplicar</span><span class="v177_2709">Filtro</span>
        <div class="v177_2710"></div>
        <div class="v177_2711">
            <div class="v177_2712"></div>
            <div class="v177_2713"></div>
            <div class="v177_2714"></div>
        </div><span class="v177_2715">Candidatos aprovados para a vaga</span>
        <div class="v177_2716"></div>
        <div routerLink="/finalizar-vaga" class="v177_2768"></div><span class="v177_2769">Finalizar vaga</span>
        <div class="v191_133"></div>
    </div>
</body>