body {
    background: rgba(46,46,56,1);
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    overflow-x: hidden;
    position: sticky;
    height: 90%;
}

.fundo1 {
    background: rgba(46,46,56,1);
    opacity: 1;
    position: sticky;
    overflow: hidden;
  }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.welcome-text {
    font-size: 30px;
    color: white;
    text-align: center;
    font-weight: 300;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
}

.image-box {
    background-color: #111111;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    padding: 15px;
    margin-bottom: 20px;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    border: solid;
    border-color: #111111;
    border-width: 2px;
}

.image-box img {
    max-width: 90%;
    max-height: 90%;
}

.image-text {
    font-size: 25px;
    color: white;
    margin-top: 10px;
    font-weight: 300;
}

.image-box a {
    text-decoration: none;
    color: white;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #111111;
    margin: 0 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.image-box a:hover {
    background-color: #363636;
}


@media (min-width: 1000px) {
    
    /* Teste para ver se a media pega */
    /* .fundo1 {
      background: red;
    } */

  .perfis-box{
    display: flex;
    flex-direction: row;
  }

  
  }

  @media screen and (-ms-high-contrast: active) {
    .custom-control-input:checked ~ .custom-control-label::before {
        color: #000 !important;
        background-color: #fff;
        border-color: #000;
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}