<body>
    <div class="container fundo1">
        <h1 class="welcome-text">Bem vindo a nossa plataforma de recrutamento e seleção! <br/>Você é?</h1>
        
        <div class="perfis-box">
            <div class="image-box">
                <a href="/loginEmpresa">
                    <img src="../../../../assets/images/v127_18.png" alt="Empresa">
                    <p class="image-text">Empresa</p>
                </a>
            </div>
            <div class="image-box">
                <a routerLink="/candidato">
                    <img src="../../../../assets/images/v127_19.png" alt="Candidato">
                    <p class="image-text">Candidato</p>
                </a>
            </div>
            <div class="image-box">
                <a href="link-para-everymind">
                    <img src="../../../../assets/images/v127_20.png" alt="EveryMind">
                    <p class="image-text">EveryMind</p>
                </a>
            </div>
        </div>
    </div>
</body>