<body>
    <div class="container fundo1">
        <img class="logo" src="../../../../assets/images/Imagem1.png" alt="Logo da TalenTudo">
        <h1 class="welcome-text">Bem vindo ao TalenTudo, uma plataforma de recrutamento e seleção!</h1>
        <h1 class="welcome-text">Você é?</h1>
        <div class="perfis-box">
            <div class="image-box">
                <a href="/loginEmpresa">
                    <img src="../../../../assets/images/empresa.png" alt="Empresa">
                    <p class="image-text">Empresa</p>
                </a>
            </div>
            <div class="image-box">
                <a routerLink="/candidato">
                    <img src="../../../../assets/images/candidato.png" alt="Candidato">
                    <p class="image-text">Candidato</p>
                </a>
            </div>
            <div class="image-box">
                <a href="/login-em">
                    <img src="../../../../assets/images/rh.png" alt="EveryMind">
                    <p class="image-text">RH</p>
                </a>
            </div>
        </div>
    </div>
</body> 