<body>
    <div class="v177_2335"><span class="v177_2404">Analista de seguranca da informacao</span>
        <div class="v177_2544">
            <div class="v177_2387"></div>
            <div class="v177_2388">
                <div class="v177_2389">
                    <div class="v177_2390"></div>
                    <div class="v177_2391"></div>
                </div>
                <div class="v177_2395"></div><span class="v177_2397">Experiencia academica 1</span>
                <div class="v177_2399"></div>
            </div>
            <div class="v177_2402"></div><span class="v177_2443">Formacao</span><span class="v177_2444">Grau</span><span
                class="v177_2445">Status</span><span class="v177_2446">Curso</span>
            <div class="v177_2447"></div><span class="v177_2448">Superior</span>
            <div class="v177_2449"></div><span class="v177_2450">Graduacao</span>
            <div class="v177_2451"></div><span class="v177_2454">Em andamento</span>
            <div class="v177_2455"></div><span class="v177_2456">Sistemas de informacao</span><span
                class="v177_2457">Inicio</span><span class="v177_2458">Ano</span>
            <div class="v177_2459"></div><span class="v177_2460">Janeiro</span>
            <div class="v177_2461"></div><span class="v177_2462">2020</span><span class="v177_2463">Fim</span><span
                class="v177_2464">Ano</span>
            <div class="v177_2465"></div><span class="v177_2466">Janeiro</span>
            <div class="v177_2467"></div><span class="v177_2468">2021</span>
        </div>
        <div class="v177_2543">
            <div class="v177_2381">
                <div class="v177_2382"></div>
                <div class="v177_2383"></div>
            </div>
            <div class="v177_2385"></div>
            <div class="v177_2386"></div><span class="v177_2406">Dados Pessoais</span><span class="v177_2407">Data de
                nascimento</span><span class="v177_2408">Genero</span><span class="v177_2409">Deficiencia</span><span
                class="v177_2410">Endereco</span><span class="v177_2411">CEP</span><span
                class="v177_2412">Endereco</span><span class="v177_2413">Estado</span><span
                class="v177_2414">Cidade</span><span class="v177_2415">Linkedln</span>
            <div class="v177_2417"></div>
            <div class="v177_2418"></div>
            <div class="v177_2419"></div><span class="v177_2420">00/00/0000</span><span
                class="v177_2421">Masculino</span>
            <div class="v177_2422"></div><span class="v177_2423">Feminino</span>
            <div class="v177_2424"></div><span class="v177_2425">Sim</span>
            <div class="v177_2426"></div><span class="v177_2427">Nao</span>
            <div class="v177_2430"></div>
            <div class="v177_2431"></div><span class="v177_2432">Informe qual deficiencia</span>
            <div class="v177_2433"></div><span class="v177_2434">Outros</span><span class="v177_2435">00000-000</span>
            <div class="v177_2436"></div><span class="v177_2437">Rua teste</span>
            <div class="v177_2438"></div>
            <div class="v177_2439"></div><span class="v177_2440">teste</span>
            <div class="v177_2441"></div><span class="v177_2442">teste</span>
            <div class="v177_2500"></div>
        </div>
        <div class="v177_2545">
            <div class="v177_2353">
                <div class="v177_2354">
                    <div class="v177_2355"></div>
                    <div class="v177_2356"></div>
                </div>
                <div class="v177_2360"></div><span class="v177_2362">Experiencia profissional 1</span>
                <div class="v177_2364"></div>
            </div>
            <div class="v177_2428"></div><span class="v177_2429">Meu emprego atual</span><span
                class="v177_2469">Descricao das atividades</span>
            <div class="v177_2470"></div><span class="v177_2471">Empresa</span><span class="v177_2472">Cargo</span>
            <div class="v177_2473"></div><span class="v177_2474">teste</span>
            <div class="v177_2475"></div><span class="v177_2476">teste</span>
            <div class="v177_2477"></div><span class="v177_2478">teste</span>
            <div class="v177_2479"></div><span class="v177_2480">teste</span><span class="v177_2482">Inicio</span><span
                class="v177_2483">Ano</span>
            <div class="v177_2484"></div><span class="v177_2485">Janeiro</span>
            <div class="v177_2486"></div><span class="v177_2487">2020</span><span class="v177_2488">Fim</span><span
                class="v177_2489">Ano</span>
            <div class="v177_2490"></div><span class="v177_2491">Janeiro</span>
            <div class="v177_2492"></div><span class="v177_2493">2021</span>
            <div class="v177_2503"></div>
        </div>
        <div class="v177_2530">
            <div class="v177_2531"></div>
            <div class="v177_2532"></div>
            <div class="v177_2533"></div>
        </div>
        <div class="v177_2537"></div>
        <div class="v177_2538"></div>
        <div class="v177_2596"></div>
        <div class="v177_2539"></div>
        <div class="v177_2597"></div>
        <div class="v177_2540"></div>
        <div class="v177_2546">
            <div class="v177_2337">
                <div class="v177_2338"></div>
                <div class="v177_2339"></div>
                <div class="v177_2343"></div><span class="v177_2345">Idioma 1</span>
                <div class="v177_2347"></div>
            </div><span class="v177_2494">idioma</span><span class="v177_2495">nivel</span>
            <div class="v177_2498"></div>
            <div class="v177_2499"></div>
            <div class="v177_2504"></div>
        </div>
        <div class="v177_2547">
            <div class="v177_2548">
                <div class="v177_2549"></div>
                <div class="v177_2550"></div>
                <div class="v177_2551"></div>
                <div class="v177_2553"></div>
            </div><span class="v177_2554">Certificado</span><span class="v177_2563">Certificado 1</span><span
                class="v177_2555">Titulo</span>
            <div class="v177_2558"></div>
            <div class="v177_2559"></div>
            <div class="v177_2560"></div>
        </div>
        <div class="v177_2564"></div><span class="v177_2565">Local de trabalho estado</span>
        <div class="v177_2566"></div><span class="v177_2567">Cidade</span>
        <div class="v177_2568"></div>
        <div routerLink="/analise-teste" class="v177_2589"></div>
        <div routerLink="/central-feedback" class="v177_2594"></div><span class="v177_2569">Certificado</span>
        <div class="v177_2570"></div><span class="v177_2571">Aplicar</span><span class="v177_2572">Filtro</span><span
            class="v177_2595">Atuação </span>
        <div class="v177_2573"></div>
        <div class="v177_2574"></div>
        <div class="v177_2575"></div>
        <div class="v177_2576"></div>
        <div class="v177_2577"></div><span class="v177_2578">Formacao</span>
        <div class="v177_2579"></div><span class="v177_2580">Idioma</span>
        <div class="v177_2581"></div>
        <div class="v177_2582"></div><span class="v177_2584">Analise teste de dissertaçao</span><span
            class="v177_2588">Central de FeedBack</span>
        <div class="v191_127"></div>
    </div>
</body>