* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v177_2335 {
    width: 100%;
    height: 2234px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v177_2404 {
    width: 601px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 115px;
    left: 459px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v177_2544 {
    width: 982px;
    height: 378px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 926px;
    left: 489px;
    overflow: hidden;
  }
  .v177_2387 {
    width: 669px;
    height: 15px;
    background: rgba(6,255,1,0.20000000298023224);
    opacity: 1;
    position: absolute;
    top: 23px;
    left: 295px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2388 {
    width: 982px;
    height: 378px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v177_2389 {
    width: 964px;
    height: 378px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v177_2390 {
    width: 964px;
    height: 45px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v177_2391 {
    width: 964px;
    height: 345px;
    background: rgba(217,217,217,0.5);
    opacity: 1;
    position: absolute;
    top: 33px;
    left: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2395 {
    width: 731px;
    height: 30px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 251px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2397 {
    width: 224px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 29px;
    left: 27px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2399 {
    width: 35px;
    height: 35px;
    background: url("../../../../assets/images/v177_2399.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 11px;
    left: 255px;
    overflow: hidden;
  }
  .v177_2402 {
    width: 669px;
    height: 15px;
    background: rgba(6,255,1,0.20000000298023224);
    opacity: 1;
    position: absolute;
    top: 23px;
    left: 295px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2443 {
    width: 90px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 141px;
    left: 27px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2444 {
    width: 43px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 141px;
    left: 237px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2445 {
    width: 58px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 213px;
    left: 27px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2446 {
    width: 54px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 213px;
    left: 236px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2447 {
    width: 144px;
    height: 22px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 157px;
    left: 27px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2448 {
    width: 77px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 168px;
    left: 31px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2449 {
    width: 144px;
    height: 22px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 157px;
    left: 236px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2450 {
    width: 97px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 168px;
    left: 240px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2451 {
    width: 144px;
    height: 22px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 227px;
    left: 27px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2454 {
    width: 135px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 238px;
    left: 31px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2455 {
    width: 223px;
    height: 22px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 227px;
    left: 236px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2456 {
    width: 219px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 238px;
    left: 240px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2457 {
    width: 50px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 283px;
    left: 31px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2458 {
    width: 36px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 283px;
    left: 240px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2459 {
    width: 144px;
    height: 22px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 297px;
    left: 31px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2460 {
    width: 68px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 308px;
    left: 35px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2461 {
    width: 223px;
    height: 22px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 297px;
    left: 240px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2462 {
    width: 46px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 308px;
    left: 244px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2463 {
    width: 34px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 283px;
    left: 510px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2464 {
    width: 36px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 283px;
    left: 719px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2465 {
    width: 144px;
    height: 22px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 297px;
    left: 510px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2466 {
    width: 68px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 308px;
    left: 514px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2467 {
    width: 223px;
    height: 22px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 297px;
    left: 719px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2468 {
    width: 46px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 308px;
    left: 723px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2543 {
    width: 982px;
    height: 657px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 233px;
    left: 489px;
    overflow: hidden;
  }
  .v177_2381 {
    width: 964px;
    height: 657px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v177_2382 {
    width: 964px;
    height: 57px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v177_2383 {
    width: 964px;
    height: 616px;
    background: rgba(217,217,217,0.5);
    opacity: 1;
    position: absolute;
    top: 41px;
    left: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2385 {
    width: 802px;
    height: 30px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 180px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2386 {
    width: 736px;
    height: 15px;
    background: rgba(6,255,1,0.20000000298023224);
    opacity: 1;
    position: absolute;
    top: 22px;
    left: 228px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2406 {
    width: 144px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 29px;
    left: 27px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2407 {
    width: 179px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 106px;
    left: 31px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2408 {
    width: 65px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 187px;
    left: 32px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2409 {
    width: 100px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 260px;
    left: 36px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2410 {
    width: 85px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 411px;
    left: 32px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2411 {
    width: 38px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 445px;
    left: 32px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2412 {
    width: 85px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 445px;
    left: 242px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2413 {
    width: 62px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 517px;
    left: 32px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2414 {
    width: 63px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 517px;
    left: 241px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2415 {
    width: 76px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 587px;
    left: 32px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2417 {
    width: 196px;
    height: 22px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 130px;
    left: 27px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2418 {
    width: 196px;
    height: 22px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 130px;
    left: 27px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2419 {
    width: 20px;
    height: 22px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 203px;
    left: 36px;
    overflow: hidden;
  }
  .v177_2420 {
    width: 107px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 141px;
    left: 42px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2421 {
    width: 94px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 214px;
    left: 65px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2422 {
    width: 20px;
    height: 22px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 203px;
    left: 180px;
    overflow: hidden;
  }
  .v177_2423 {
    width: 83px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 214px;
    left: 209px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2424 {
    width: 20px;
    height: 22px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 286px;
    left: 36px;
    overflow: hidden;
  }
  .v177_2425 {
    width: 35px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 297px;
    left: 65px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2426 {
    width: 20px;
    height: 22px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 286px;
    left: 180px;
    overflow: hidden;
  }
  .v177_2427 {
    width: 37px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 297px;
    left: 209px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2430 {
    width: 217px;
    height: 22px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 351px;
    left: 36px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2431 {
    width: 144px;
    height: 22px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 461px;
    left: 32px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2432 {
    width: 218px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 335px;
    left: 36px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2433 {
    width: 20px;
    height: 22px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 203px;
    left: 313px;
    overflow: hidden;
  }
  .v177_2434 {
    width: 61px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 214px;
    left: 342px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2435 {
    width: 99px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 472px;
    left: 36px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2436 {
    width: 144px;
    height: 22px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 461px;
    left: 241px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2437 {
    width: 85px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 472px;
    left: 245px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2438 {
    width: 144px;
    height: 22px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 531px;
    left: 32px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2439 {
    width: 144px;
    height: 22px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 612px;
    left: 32px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2440 {
    width: 46px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 542px;
    left: 36px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2441 {
    width: 144px;
    height: 22px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 531px;
    left: 241px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2442 {
    width: 46px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 542px;
    left: 245px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2500 {
    width: 35px;
    height: 35px;
    background: url("../../../../assets/images/v177_2500.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 11px;
    left: 188px;
    overflow: hidden;
  }
  .v177_2545 {
    width: 973px;
    height: 450px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1341px;
    left: 489px;
    overflow: hidden;
  }
  .v177_2353 {
    width: 973px;
    height: 450px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v177_2354 {
    width: 964px;
    height: 450px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v177_2355 {
    width: 964px;
    height: 40px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v177_2356 {
    width: 964px;
    height: 439px;
    background: rgba(217,217,217,0.5);
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2360 {
    width: 704px;
    height: 30px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 269px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2362 {
    width: 232px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 29px;
    left: 27px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2364 {
    width: 35px;
    height: 35px;
    background: url("../../../../assets/images/v177_2364.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 11px;
    left: 277px;
    overflow: hidden;
  }
  .v177_2428 {
    width: 20px;
    height: 22px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 196px;
    left: 18px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2429 {
    width: 174px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 207px;
    left: 47px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2469 {
    width: 224px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 335px;
    left: 14px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2470 {
    width: 314px;
    height: 72px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 349px;
    left: 14px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2471 {
    width: 79px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 133px;
    left: 14px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2472 {
    width: 54px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 133px;
    left: 224px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2473 {
    width: 144px;
    height: 22px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 149px;
    left: 14px;
    overflow: hidden;
  }
  .v177_2474 {
    width: 46px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 160px;
    left: 18px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2475 {
    width: 144px;
    height: 22px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 149px;
    left: 223px;
    overflow: hidden;
  }
  .v177_2476 {
    width: 46px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 160px;
    left: 227px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2477 {
    width: 144px;
    height: 22px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 149px;
    left: 14px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2478 {
    width: 46px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 160px;
    left: 18px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2479 {
    width: 144px;
    height: 22px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 149px;
    left: 223px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2480 {
    width: 46px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 160px;
    left: 227px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2482 {
    width: 50px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 252px;
    left: 14px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2483 {
    width: 36px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 252px;
    left: 223px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2484 {
    width: 144px;
    height: 22px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 266px;
    left: 14px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2485 {
    width: 68px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 277px;
    left: 18px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2486 {
    width: 223px;
    height: 22px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 266px;
    left: 223px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2487 {
    width: 46px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 277px;
    left: 227px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2488 {
    width: 34px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 252px;
    left: 493px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2489 {
    width: 36px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 252px;
    left: 702px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2490 {
    width: 144px;
    height: 22px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 266px;
    left: 493px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2491 {
    width: 68px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 277px;
    left: 497px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2492 {
    width: 223px;
    height: 22px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 266px;
    left: 702px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2493 {
    width: 46px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 277px;
    left: 706px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2503 {
    width: 656px;
    height: 15px;
    background: rgba(6,255,1,0.20000000298023224);
    opacity: 1;
    position: absolute;
    top: 23px;
    left: 308px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2530 {
    width: 227px;
    height: 163px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 1283px;
    overflow: hidden;
  }
  .v177_2531 {
    width: 101px;
    height: 104px;
    background: url("../../../../assets/images/v177_2531.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 58px;
    left: 62px;
    overflow: hidden;
  }
  .v177_2532 {
    width: 227px;
    height: 153px;
    background: url("../../../../assets/images/v177_2532.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v177_2533 {
    width: 227px;
    height: 153px;
    background: url("../../../../assets/images/v177_2533.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v177_2537 {
    width: 100%;
    height: 5px;
    background: rgba(196,194,194,0.5);
    opacity: 1;
    position: absolute;
    top: 172px;
    left: 49px;
  }
  .v177_2538 {
    width: 649px;
    height: 5px;
    background: rgba(196,194,194,0.5);
    opacity: 1;
    position: absolute;
    top: 151px;
    left: 431px;
  }
  .v177_2596 {
    width: 81px;
    height: 5px;
    background: rgba(196,194,194,0.5);
    opacity: 1;
    position: absolute;
    top: 279px;
    left: 34px;
  }
  .v177_2539 {
    width: 400px;
    height: 5px;
    background: rgba(196,194,194,0.5);
    opacity: 1;
    position: absolute;
    top: 192px;
    left: 565px;
  }
  .v177_2597 {
    width: 127px;
    height: 5px;
    background: rgba(196,194,194,0.5);
    opacity: 1;
    position: absolute;
    top: 856px;
    left: 40px;
  }
  .v177_2540 {
    width: 128px;
    height: 128px;
    background: url("../../../../assets/images/v177_2540.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 28px;
    left: 49px;
    overflow: hidden;
  }
  .v177_2546 {
    width: 973px;
    height: 170px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1827px;
    left: 489px;
    overflow: hidden;
  }
  .v177_2337 {
    width: 973px;
    height: 170px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v177_2338 {
    width: 964px;
    height: 54px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v177_2339 {
    width: 964px;
    height: 156px;
    background: rgba(217,217,217,0.5);
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2343 {
    width: 858px;
    height: 30px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 115px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2345 {
    width: 78px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 29px;
    left: 26px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2347 {
    width: 34px;
    height: 35px;
    background: url("../../../../assets/images/v177_2347.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 11px;
    left: 125px;
    overflow: hidden;
  }
  .v177_2494 {
    width: 62px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 100px;
    left: 18px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2495 {
    width: 43px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 100px;
    left: 228px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2498 {
    width: 144px;
    height: 22px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 116px;
    left: 18px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2499 {
    width: 144px;
    height: 22px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 116px;
    left: 227px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2504 {
    width: 802px;
    height: 17px;
    background: rgba(6,255,1,0.20000000298023224);
    opacity: 1;
    position: absolute;
    top: 22px;
    left: 162px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2547 {
    width: 973px;
    height: 163px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2034px;
    left: 489px;
    overflow: hidden;
  }
  .v177_2548 {
    width: 973px;
    height: 163px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v177_2549 {
    width: 964px;
    height: 54px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v177_2550 {
    width: 964px;
    height: 149px;
    background: rgba(217,217,217,0.5);
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2551 {
    width: 819px;
    height: 30px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 154px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2553 {
    width: 34px;
    height: 35px;
    background: url("../../../../assets/images/v177_2553.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 11px;
    left: 155px;
    overflow: hidden;
  }
  .v177_2554 {
    width: 100px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 91px;
    left: 18px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2563 {
    width: 116px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 29px;
    left: 18px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2555 {
    width: 52px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 91px;
    left: 228px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2558 {
    width: 144px;
    height: 22px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 107px;
    left: 18px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2559 {
    width: 144px;
    height: 22px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 107px;
    left: 227px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2560 {
    width: 774px;
    height: 17px;
    background: rgba(6,255,1,0.20000000298023224);
    opacity: 1;
    position: absolute;
    top: 22px;
    left: 190px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2564 {
    width: 318px;
    height: 37px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 322px;
    left: 24px;
    border: 2px solid rgba(217,217,217,1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2565 {
    width: 221px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 341px;
    left: 81px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2566 {
    width: 318px;
    height: 37px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 393px;
    left: 24px;
    border: 2px solid rgba(217,217,217,1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2567 {
    width: 63px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 412px;
    left: 81px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2568 {
    width: 318px;
    height: 37px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 576px;
    left: 24px;
    border: 2px solid rgba(217,217,217,1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2589 {
    width: 318px;
    height: 37px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 890px;
    left: 24px;
    border: 2px solid rgba(217,217,217,1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2594 {
    width: 318px;
    height: 37px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 937px;
    left: 24px;
    border: 2px solid rgba(217,217,217,1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2569 {
    width: 100px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 595px;
    left: 81px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2570 {
    width: 104px;
    height: 36px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 647px;
    left: 131px;
    border: 2px solid rgba(217,217,217,1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2571 {
    width: 64px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 665px;
    left: 150px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2572 {
    width: 75px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 255px;
    left: 40px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .v177_2595 {
    width: 119px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 834px;
    left: 40px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .v177_2573 {
    width: 25px;
    height: 25px;
    background: url("../../../../assets/images/v177_2573.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 328px;
    left: 58px;
    overflow: hidden;
  }
  .v177_2574 {
    width: 25px;
    height: 25px;
    background: url("../../../../assets/images/v177_2574.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 328px;
    left: 58px;
    overflow: hidden;
  }
  .v177_2575 {
    width: 25px;
    height: 25px;
    background: url("../../../../assets/images/v177_2575.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 399px;
    left: 58px;
    overflow: hidden;
  }
  .v177_2576 {
    width: 27px;
    height: 27px;
    background: url("../../../../assets/images/v177_2576.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 582px;
    left: 34px;
    overflow: hidden;
  }
  .v177_2577 {
    width: 318px;
    height: 37px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 454px;
    left: 23px;
    border: 2px solid rgba(217,217,217,1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2578 {
    width: 90px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 473px;
    left: 80px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2579 {
    width: 318px;
    height: 37px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 515px;
    left: 23px;
    border: 2px solid rgba(217,217,217,1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v177_2580 {
    width: 62px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 534px;
    left: 80px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2581 {
    width: 25px;
    height: 25px;
    background: url("../../../../assets/images/v177_2581.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 460px;
    left: 59px;
    overflow: hidden;
  }
  .v177_2582 {
    width: 27px;
    height: 27px;
    background: url("../../../../assets/images/v177_2582.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 521px;
    left: 34px;
    overflow: hidden;
  }
  .v177_2584 {
    width: 255px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 909px;
    left: 38px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v177_2588 {
    width: 185px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 956px;
    left: 38px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v191_127 {
    width: 62px;
    height: 62px;
    background: url("../../../../assets/images/v191_127.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 61px;
    left: 204px;
    overflow: hidden;
  }
  