<body>
    <div class="v177_2248">
        <div class="v177_2249"></div>
        <div class="v177_2250"></div>
        <div routerLink="/perfil-candidato" class="v177_2251"></div>
        <div class="v177_2252"></div>
        <div class="v177_2253"></div>
        <div class="v177_2254"></div>
        <div class="v177_2255"></div>
        <div class="v177_2256"></div>
        <div class="v177_2257"></div>
        <div class="v177_2258"></div>
        <div class="v177_2259"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div><span class="v177_2287">Digite as skills que você procura</span>
        <div class="v177_2288"></div><span class="v177_2289">Local de trabalho estado</span>
        <div class="v177_2290"></div><span class="v177_2291">Cidade</span>
        <div class="v177_2292"></div><span class="v177_2293">Certificado</span>
        <div class="v177_2294"></div><span class="v177_2295">Aplicar</span><span class="v177_2296">Filtro</span>
        <div class="v177_2297"></div>
        <div class="v177_2330"></div>
        <div class="v177_2332"></div>
        <div class="v177_2333"></div>
        <div class="v177_2299"></div>
        <div class="v177_2300">
            <div class="v177_2301"></div>
            <div class="v177_2302"></div>
            <div class="v177_2303"></div>
        </div><span class="v177_2304">Perfil de usuarios</span>
        <div class="v177_2306"></div><span class="v177_2307">Formacao</span>
        <div class="v177_2308"></div><span class="v177_2309">Idioma</span>
        <div class="v177_2310"></div>
        <div class="v177_2311"></div>
        <div class="v191_126"></div>
    </div>
</body>