<body>
    <div class="v177_3517"><span class="v177_3520">Voce pode acompanhar metricas da platafoma como um todo ou voce pode
            acompanhar de uma presa especifica</span>
        <div routerLink="/cadastro-em-acm-metricas-toda" class="v177_3521"></div>
        <div routerLink="/cadastro-em-acm-metricas-espec" class="v177_3522"></div><span class="v177_3523">Toda a plataforma</span><span class="v177_3524">Digite qual
            empresa voce gostaria de verificar</span>
        <div class="v177_3525">
            <div class="v177_3526"></div>
            <div class="v177_3527"></div>
            <div class="v177_3528"></div>
        </div>
        <div class="v177_3529"></div>
        <div class="v177_3535"></div>
        <div class="v191_145"></div>
    </div>
</body>