<body>
  <button (click)="voltar()" class="voltar">
    VOLTAR</button>
    <img src="../../../../assets/images/em-LOGO.png" alt="">
  <h1>Administração de Vagas</h1>
  <div>
    <div class="admVagas">
      <p>Diretor</p>
      <p>FINALIZADO</p>
      <p>Alterar status do candidato</p>
      <select name="statusCandidato" id="statusCandidato">
          <option value="ENVIO CURRICULO">Curriculo em análise</option>
          <option value="TESTE DISSERTACAO">TESTE DISSERTACAO</option>
          <option value="ANALISE CURRICULO">ANALISE DO CURRICULO</option>
          <option value="ENTREVISTA RH">ENTREVISTA RH</option>
          <option value="ENTREVISTA GESTOR">ENTREVISTA GESTOR</option>
          <option value="FINALIZADA">FINALIZADA</option>
      </select>
      <button>Salvar novo status</button>
  </div>
    <div class="admVagas">
      <p>Diretor</p>
      <p>FINALIZADO</p>
      <p>Alterar status do candidato</p>
      <select name="statusCandidato" id="statusCandidato">
          <option value="ENVIO CURRICULO">Curriculo em análise</option>
          <option value="TESTE DISSERTACAO">TESTE DISSERTACAO</option>
          <option value="ANALISE CURRICULO">ANALISE DO CURRICULO</option>
          <option value="ENTREVISTA RH">ENTREVISTA RH</option>
          <option value="ENTREVISTA GESTOR">ENTREVISTA GESTOR</option>
          <option value="FINALIZADA">FINALIZADA</option>
      </select>
      <button>Salvar novo status</button>
  </div>
    <div class="admVagas">
      <p>Diretor</p>
      <p>FINALIZADO</p>
      <p>Alterar status do candidato</p>
      <select name="statusCandidato" id="statusCandidato">
          <option value="ENVIO CURRICULO">Curriculo em análise</option>
          <option value="TESTE DISSERTACAO">TESTE DISSERTACAO</option>
          <option value="ANALISE CURRICULO">ANALISE DO CURRICULO</option>
          <option value="ENTREVISTA RH">ENTREVISTA RH</option>
          <option value="ENTREVISTA GESTOR">ENTREVISTA GESTOR</option>
          <option value="FINALIZADA">FINALIZADA</option>
      </select>
      <button>Salvar novo status</button>
  </div>

  </div>


</body>
