<body>
  <img src="../../../../assets/images/em-LOGO.png" alt="">
  <h1>Mural das Vagas</h1>
  <div>
    <div class="vaga">
      <h3>Nome da Vaga</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore provident
        eaque culpa voluptatem impedit perspiciatis voluptas modi nemo sunt porro!
        Natus, corporis? Fugiat cupiditate a cum fuga porro ab consequuntur.
      </p>
      <p>Salário: R$ 1200,00</p>
      <p>Modalidade: CLT</p>
      <p>Status da inscricao: FINALIZADA</p>
      <!-- <a routerLink="/vagas/detalhes/{{vaga.id}}/{{candidatoId}}" class="detalhes-link">Ver Detalhes</a> -->
    </div>
    <div class="vaga">
      <h3>Nome da Vaga</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore provident
        eaque culpa voluptatem impedit perspiciatis voluptas modi nemo sunt porro!
        Natus, corporis? Fugiat cupiditate a cum fuga porro ab consequuntur.
      </p>
      <p>Salário: R$ 1200,00</p>
      <p>Modalidade: CLT</p>
      <p>Status da inscricao: FINALIZADA</p>
      <!-- <a routerLink="/vagas/detalhes/{{vaga.id}}/{{candidatoId}}" class="detalhes-link">Ver Detalhes</a> -->
    </div>
    <div class="vaga">
      <h3>Nome da Vaga</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore provident
        eaque culpa voluptatem impedit perspiciatis voluptas modi nemo sunt porro!
        Natus, corporis? Fugiat cupiditate a cum fuga porro ab consequuntur.
      </p>
      <p>Salário: R$ 1200,00</p>
      <p>Modalidade: CLT</p>
      <p>Status da inscricao: FINALIZADA</p>
      <!-- <a routerLink="/vagas/detalhes/{{vaga.id}}/{{candidatoId}}" class="detalhes-link">Ver Detalhes</a> -->
    </div>
  </div>
</body>
