<body>
    <div class="v177_1564"><span class="v177_1565">Olá, ZOOM</span><span class="v177_1566">Seja bem-vindo(a) a área de
            administrativa da Ernst & Young</span><span class="v177_1567">Veja as vagas que ja foram cadastradas,
            cadastre novas oportunidades ou acompanhe o status dos candidatos.</span>
        <div routerLink="/vagas-cadastrada" class="v177_1568"></div>
        <div class="v177_1569"></div><span class="v177_1570">Acompanhamento das vagas cadastradas</span><span
            class="v177_1571">Acompanhamento dos candidatos qualificados</span>
        <div class="v177_1572">
            <div class="v177_1573"></div>
            <div class="v177_1574"></div>
            <div class="v177_1575"></div>
        </div>
        <div class="v177_1576"></div>
        <div class="v177_1593"></div><span class="v177_1594">Cadastro de novas oportunidades</span>
        <div class="v177_1597"></div>
        <div class="v200_180"></div><span class="v200_181">Alterar dados cadastrais</span>
        <div class="v200_182"></div>
        <div class="v177_1599"></div>
        <div class="v191_116"></div>
    </div>
</body>