<body>
    <div class="v177_3081"><span class="v177_3082">Usuarios administrativos da plataforma</span><span
            class="v177_3083">Usuarios cadastrados:</span>

        <div class="v177_3368"></div>
        <span class="v177_3086">joao</span>
        <span routerLink="/cadastro-em-exclude" class="v177_3087">Excluir</span>
        <span routerLink="/cadastro-em-alt" class="v177_3088">Alterar</span>
        <span routerLink="/cadastro-em-exclude" class="v177_3089">Excluir</span>
        <span routerLink="/cadastro-em-alt" class="v177_3090">Alterar</span>
        <span routerLink="/cadastro-em-exclude" class="v177_3091">Excluir</span>
        <span routerLink="/cadastro-em-alt"class="v177_3092">Alterar</span>
        <span routerLink="/cadastro-em-exclude" class="v177_3093">Excluir</span>
        <span routerLink="/cadastro-em-alt" class="v177_3094">Alterar</span>
        <span routerLink="/cadastro-em-exclude" class="v177_3095">Excluir</span>
        <span routerLink="/cadastro-em-alt" class="v177_3096">Alterar</span>
        <span class="v177_3097">Geovani</span>
        <span routerLink="/cadastro-em-alt" class="v177_3098">Gabriel</span>
        <span class="v177_3099">Daniela</span>
        <span class="v177_3100">Luan</span>
        <div class="v177_3364">
            <div class="v177_3365"></div>
            <div class="v177_3366"></div>
            <div class="v177_3367"></div>
        </div>
        <div routerLink="/cadastro-em-cad" class="v177_3370"></div><span routerLink="/cadastro-em-cad" class="v177_3371">Cadastre um novo usuario</span>
        <div class="v191_152"></div>
    </div>
</body>